#graffiti-overlay {

       position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #FFF;
    filter:alpha(opacity=50);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 1;
    z-index: -10;
}
.graffiti {
position: absolute;
overflow: hidden;
pointer-events: none;
opacity: 1;
    z-index: 2387465723465872364587623874568732645736457638475637465873465873645876473658736458736587638475638746587346578364587368756387645783654837638745687346587364587346512837594182374981723948712938471938471982734981723948719283471982374981273489127348971234897128935709813475094235788;
}
