<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<script src="libs/jquery-2.1.1.min.js"></script>
		<script src="libs/parse-1.3.1.min.js"></script>
		<script src="libs/underscore-1.7.0.js"></script>
		<script src="popup.js"></script>

		<link rel="stylesheet" type="text/css" href="popup.css" />
	</head>
	<body id="graff-bg" style="width: 500px;">
		<center>
		<h1>
			<span style="color: blue;">G</span><span style="color: red;">O</span><span style="color: yellow;">O</span><span style="color: blue;">G</span><span style="color: green;">L</span><span style="color: red;">F</span><span style="color: yellow;">F</span><span style="color: blue;">I</span><span style="color: green;">T</span><span style="color: red;">I</span>
		</h1>
			<input class = "first-row" type="text" id="title" name="title" placeholder="Name your work"></input>
			<button id="save" value="Save your graffiti">Save graffiti</button>
			<input style="color: white;" type="checkbox" name="private" id="private" checked="false">Private<br>
			<br>
			 <input id = "private_id" class = "first-row" type="text" placeholder="Load private graffiti" name="private_id"></input>
		<button id="load" value="Load the graffiti">Load graffiti</button>
		<br><br>
		<button id="toggle">Toggle Editing</button>
		<button id="graffiti">Toggle Graffiti</button>
		<br>
		<br>
		<button id="red" style="color: red;">Red</button>
		<button id="green" style="color: green;">Green</button>
		<button id="blue" style="color: blue;">Blue</button>
		<button id="yellow" style="color: gold">Yellow</button>
		<br><br>
		<input id = "w" class = "first-row" type="text" placeholder="Enter a number" name="w"></input>
		<button id="setweight" value="Set">Set</button>
		<br>
		</center>

		<div class="content">
      	</div>

		<div id="graffiti-list">
			<strong style = "font-size:18px">This is a list of public graffitis</strong>
			<li>
				<div class="view">
					<label class="text" class="item-text">How are you</label>
					<input class="toggle" type="checkbox" checked="checked" />
				</div>
			</li>
			<li>
				<div class="view">
					<label class="text">How are you 2</label>
					<input class="toggle" type="checkbox" checked="checked" />
				</div>
			</li>
			<table id="footer">
				<tr>
					<td>
						<ul id="filters">
						  <li>
						    <a href="javascript:void(0)" id="all" class="selected">All</a>
						  </li>
						  <li>
						    <a href="javascript:void(0)" id="private">Private</a>
						  </li>
						  <li>
						    <a href="javascript:void(0)" id="public">Public</a>
						  </li>
						</ul>
					</td>
					<td><span id="select-count"><strong>2</strong>items showing</span></td>
					<td><button id="submit-changes">Submit</button></td>
				</tr>
	      	</table>
		</div>


		<!-- graffiti list item template -->
		<script type="text/template"  id="item-template">
		  <li>
		    <div class="view">
		      <label class="title" ><%= title %></label>
		      <input class="toggle" type="checkbox" <%= show ? 'checked="checked"' : '' %> />
		    </div>
		  </li>
		</script>

		<!-- graffit list section template -->
		<script type="text/template" id="manage-template">
	      <div id="user-info">
	        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log out</a>)
	      </div>

	      	<div id="graffiti-list">
	          	<strong style = "font-size:18px">This is a list of public graffitis</strong>
	        </div>

	        <div id="graffiti-footer">
	        </div>
	    </script>

	    <!-- graffit footer template -->
		<script type="text/template" id="footer-template">
			<table id="footer">
				<tr>
					<td>
						<ul id="filters">
						  <li>
						    <a href="javascript:void(0)" id="all" class="selected">All (<%= numTotal %> ) </a>
						  </li>
						  <li>
						    <a href="javascript:void(0)" id="private">Private (<%= numPrivate %> ) </a>
						  </li>
						  <li>
						    <a href="javascript:void(0)" id="public">Public (<%= numPublic %> ) </a>
						  </li>
						</ul>
					</td>
					<td><span id="select-count"><strong><%= selected %></strong> <%= selected == 1 ? ' item' : ' items' %> selected</td>
					<td><button id="submit-changes">Submit</button></td>
				</tr>
	      	</table>
    	</script>


	</body>
<html>