 * {
    padding:0;
    margin:0;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

body {
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position:relative;
    overflow: scroll;
    overflow-x: hidden;
}

#theWall{
	z-index: 1964798324765924375912759812735491235793125792185712935781235792137592835729857912357982375982375923874529649165091251098975722983882823717512385712512753125981231357;
}